/* common start  */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}
/* common end */
/* header started */
header{
    padding: 20px 0;
}
.c_nav{

}
.logo{

}
.logo h1{
    font-family: 'Lato', sans-serif;
    font-size:30px ;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}
.menu{

}
.menu ul li a{
    font-family: 'Lato', sans-serif;
    color: #8e8e8e !important;
    text-transform: uppercase;
    padding: 0 17px !important;
}
.menu ul li a:hover{
    color: #333333 !important;
}
.n_search{

}
.btn_search{
    border-color: transparent !important;
}
.btn_search:hover{
    border-color: transparent;
}
.btn_search:focus{
    border-color: transparent;
}
.btn_search::after{
    display: none;
}
.btn_search i, 
.s_submit i{
    color: #8e8e8e;
    transition: 0.3s;
}
.btn_search i:hover,
.s_submit i:hover{
    color: #333333;
}
.s_dm{
    width: 350px;
    border: 1px solid #8e8e8e;
    border-radius: 0;
}
.s_dm[data-bs-popper] {
    top: 70px;
    left: -330px;
    margin-top: 0;
}
.s_input{
    border: 0;
}
.s_input:focus{
    border-color: transparent;
    box-shadow: none;
}
.s_submit{
    padding: 5px;
    border: 0;
    background: transparent;
}

/* header finished */
/* banner started */
/* slider area */
.banner{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
.s_slider{
    margin: 200px 0;
}
.s_slider h2{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.s_slider p{
    margin: 40px 0 50px;
    color: white;
    line-height: 30px;
}
/* button  */
.btn_c{
    width: 200px;
    height: 50px;
    color: #333333;
    border: 0;
    border-radius: 0;
    background-color: #ffffff !important;
    text-transform: uppercase;
}
.btn_c:hover{
    color: #ffffff;
    background-color: #333333 !important;
}
.btn_c span{

}
.btn_p, .btn_n{
    border: none;
    color: #8e8e8e;
    background-color: transparent;
}
.btn_p:hover, .btn_n:hover{
    color: #333333;
}
/* banner finished */
/* feature area started */
.feature{
    padding-bottom: 90px;
}
.c_title{

}
.c_rec{
     width: 2px;
     height: 50px;
     background-color: #333333;
     display: inline-block;

}
.c_h1 h1, .c_h1{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size:30px;
    font-weight: 400;
    color: #333333;
    padding-bottom: 50px;
    text-transform: uppercase;
}
/* 2nd row */
.c_text p{
    margin: 0;
    line-height: 30px;
    padding-bottom: 100px;
}
/* 3rd row */
.f_single{
    margin-top: 35px;
    border: 1px solid #8e8e8e;
    padding: 65px 15px 0px;
}
.f_icon{
    margin: -90px auto 0;
    width: 70px;
    height: 60px;
    background-color: #ffffff;
}
.f_icon i{
    font-size: 60px;
    color: #8e8e8e;
}
.f_single h2{
    margin: 30px 0 0;
    font-family: 'Lato', sans-serif;
    font-size:18px ;
    font-weight: 700;
    /* color: #333333; */
    text-transform: uppercase;
}
.f_hr{
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: #8e8e8e;
}
.f_single p{
    padding-bottom: 40px;
}
.f_single a{
    color: #8e8e8e;
    text-decoration: none;
    text-transform: uppercase;
}
 /* feature hover  */
 .f_single:hover i{ color: #333333;}
 .f_single:hover {border: 1px solid #333333;}
 .f_single:hover h2{ color: #333333;}
 .f_single:hover a{ color: #333333;}

/* feature area finished */
/* about area started */
.about{
    padding-bottom: 130px;
}
.about img{
    width: 470px;
    height: 400px;
}
.about_us h2{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #333333;
    padding-bottom: 35px;
    text-transform: uppercase;
}
.about_us p{
    margin: 0;
    padding-bottom: 40px;
}
.btn2{
    border: 1px solid #333333;
}
/* about area finished */

/* work area started */
.work{
    background: #f8f8f8;
    padding-bottom: 100px;
}

.menu_btn{
    margin: 0;
}
/* uppercase  */
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    text-transform: uppercase;
}
/* uppercase end  */
.menu_style{
    background-color: transparent;
    border: none;
    color: #8e8e8e;
}
.menu_style:hover{
    border: 1px solid #333333;
    color: #000000;
}
.s_style{
    margin-top:30px ;
}

/*overlay part started*/
.work_box{
	position: relative;
	width: 100%;
}
.work_box img{
	width: 100%;
	height: auto;
}

.overlay1{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	transition: .4s;
}
.work_box:hover .overlay1{
	opacity: 0.5;
}
.overlay2{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 18%;
	background-color: #fff;
	opacity: 0;
	transition: .4s;
}
.work_box:hover .overlay2{
	opacity: 1;
}
.work_box:hover img{
    height: 80%;
}
.overlay2 h2{
	position: absolute;
    font-size: 24px;
	top: 32%;
    left: 50%;
	transform: translate(-50%,-50%);
	width: 90%;
	color: #000;
	
}
.overlay2 p{
	position: absolute;
    font-size: 16px;
	top: 66%;
    left: 50.5%;
	transform: translate(-50%,-50%);
	width: 90%;
	color: #333;
}
/*overlay part finished*/
/* work area finished */

/* choosen area started */
.choose{
    padding-bottom: 100px;
}
.ch_icon{
    padding-bottom: 30px;
}
.ch_icon i{
    font-size: 40px;
    color: #8e8e8e;
}
.ch_icon h2{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #8e8e8e;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.ch_icon p{
    margin: 0;
    padding: 0 0 30px;
}
.b_line{
    width: 95%;
}
/* hover part start  */
 .ch_icon:hover i{ color: #333333;}
 .ch_icon:hover h2{ color: #333333;}
 .ch_icon:hover .b_line{ color: #000000;}
/* hover part end */

/* choosen area finished */

/* worker area started */
.worker{
    background-image: url(../images/who_work.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
/* intro area  */
.intro{
    background-color: #ffffff;
}
.s_worker{
    padding-top: 24px;
}
.s_worker img{
    width: 100%;
}
.intro h2{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
}
.intro p{

}
/* social start  */
.s_worker:hover .social_icon{
    opacity: 1;
}
.social_icon{
    background-color: #fff;
    margin-top: -420px;
    opacity: 0;
    transition: .5s;
}
.social_btn a{
    color: #8e8e8e;
}
/* social end */
/* worker area finished */

/* pricing area started  */
.price{
    padding-bottom: 100px;
}
.c_price{
    margin-top: 30px ;
    border: 1px solid #8e8e8e;
}
.c_price h2{
    margin: -10px 20px 0;
    width: 50%;
    height: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    background-color: #ffffff;
    display: block;
    text-transform: uppercase;
}
.c_price p{
    margin: 0;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.c_price span{
    font-size: 30px;
    color: #333333;
}
.c_price ul li{
    list-style: none;
    line-height: 30px;
}
.btn3{
    border: 1px solid #8e8e8e;
}
.sp_btn{
    padding:40px 5px ;
}
.sp_btn i{ 
    font-size: 16px;
}
/* hover area  */
.c_price:hover{ border: 1px solid #333333;}
.c_price:hover .btn3{ border: 1px solid #333333; background-color: #8e8e8e;}
.btn3:hover i{ color: #f8f8f8;}
/* pricing area finished */

/* buying area started  */
.buy{
    background-color: #f8f8f8;
    padding:30px 0;
}
.l_part{
    margin-top: 16px;
}
.r_part{
    padding: 0;
}
/* buying area finished */

/* slider2 area started  */

/* slider2 area finished */

/* contact area started  */
.contact{
    padding-bottom: 100px;
}
.form1{
    border: 1px solid #8e8e8e;
    margin-top: 50px;
    padding: 40px 0 0;
}
.form1 h2{
    margin: -60px auto 0;
    width: 210px;
    height: 60px;
    color: #333333;
    background-color: #ffffff;
     text-transform: uppercase;
}
.btn4{
    padding: 30px 0;
}
.form2 input{
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid #8e8e8e;
}
.form2 input:hover {
    border-bottom: 2px solid #333333;
}
/* contact area finished */

/* footer area started  */
.footer{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
.f_p p{
    color: #f8f8f8;
}
.social{
    font-size: 50px;
    color: #f8f8f8;
    background-color: transparent;
    padding-bottom: 100px;
}
.social ul li{
    
}
.f_line{
    border: 1px solid #f8f8f8;
}
.ssp a{
    text-decoration: none;
    color: #8e8e8e;
}
.ssp a:hover{
    color: #333333;
    background-color: #ffffff;
}

/* footer area finished  */
